* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom right, rgb(11, 224, 11),rgb(30, 30, 232)); */
    background-image: url(../Images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(7px);
}

.register-container {
    width: 35%;
    padding:40px 40px 10px 40px;
    /* border-radius: 8px; */
    box-shadow: 2px 2px 20px rgba(217, 205, 205, 0.951);
    background-color: rgba(243, 242, 242, 0.699);
}
.register-container h1 {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(23, 40, 149);
    transform: translateY(-8px);
    
}
.img-logo{
    display: flex;
    justify-content: center;
}
.logo{
    width: 100px;
    height: 100px;
    
}
form {
    flex-direction: column;
    
    
}
.input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="numberphone"] {
    padding: 15px;
    border: none;
    transition: all 0.3s ease;
    font-size: 14px;
    background: none;
    border-bottom: 2px solid rgb(162, 167, 182);
    color: aqua;
    
}
input:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 10px (106, 17, 203, 0.5);
}
button {
    width: 100%;
    padding: 12px;
    color: #fff;
    border: none;
    background-color: #012052;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: blue;
    box-shadow: 0 4px 12px (0, 0, 0, 0.2);
}
.link{
    font-size: 13px;

    text-align: center;
}
.link span a{
    text-decoration: none;
    font-weight: bold;
    
}
