body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Form Login Start  */
.login-form {
    height: 90vh;
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
}

.form {
    box-shadow: 1px 1px 20px rgba(200, 200, 200, 0.648);
    background-color: #ffffffad;
    border-radius: 5px;
    height: 70vh;
    padding: 50px;



}

.show-pas {
    align-self: self-start;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-top img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.form-top h3 {
    font-size: 28px;
    text-shadow: 2px 2px 5px rgba(6, 4, 66, 0.675);
}

.input {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.input input {
    padding: 9px;
    margin: 10px 0px;
    font-size: 14px;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(11, 4, 128, 0.615);
}

.login-form button {
    background-color: blue;
    color: white;
    border: none;
    font-size: 14px;
    margin-top: 10px;
    width: 400px;
    padding: 10px;

}

.login-form hr {
    margin-top: 20px;
    width: 100px;
}

#forgot-password {
    font-weight: bold;
}

.login-form p {
    font-size: 12px;
    margin: 10px;
}

.login-form p a {
    color: #1e17eb;
    font-weight: bold;
    text-decoration: none;
}

/* Form Login End  */