body {
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;
    justify-content: center; */
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(7px);
}

/* Form */
.login-form {
    height: 90vh;
    /* border: 1px solid black; */
    /* width: 100%; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
}

.form {
    box-shadow: 1px 1px 20px rgba(200, 200, 200, 0.648);
    background-color: #ffffffad;
    border-radius: 5px;
    padding: 50px;



}

.show-pas {
    align-self: self-start;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-top img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.form-top h1 {
 
    text-shadow: 2px 2px 5px rgba(7, 3, 111, 0.87);
}

.input {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.input input {
    padding: 5px;
    margin: 7px 0px;
    font-size: 14px;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(11, 4, 128, 0.615);
}

.login-form button {
    background-color: blue;
    color: white;
    border: none;
    font-size: 14px;
    margin-top: 10px;
    width: 400px;
    padding: 10px;

}

.login-form hr {
    margin-top: 20px;
    width: 100px;
}

#forgot-password {
    font-weight: bold;
}

.login-form p {
    font-size: 12px;
    margin: 10px;
}

.login-form p a {
    color: #1e17eb;
    font-weight: bold;
    text-decoration: none;
}

/* //thy */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom right, rgb(11, 224, 11),rgb(30, 30, 232)); */
    background-image: url(../Images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(7px);
}

.register-container {
    width: 35%;
    padding: 20px;
    display: flex;
    justify-content: center;
    /* border-radius: 8px; */
    box-shadow: 2px 2px 20px rgba(217, 205, 205, 0.951);
    background-color: #ffffffad;
}

.register-container h1 {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(23, 40, 149);
    transform: translateY(-8px);

}

.img-logo {
    display: flex;
    justify-content: center;
}

.logo {
    width: 100px;
    height: 100px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="numberphone"] {
    padding: 10px;
    border: none;
    transition: all 0.3s ease;
    font-size: 14px;
    background: none;
    border-bottom: 2px solid rgb(162, 167, 182);
    color: aqua;

}

input:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 10px (106, 17, 203, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    color: #fff;
    border: none;
    background-color: blue;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: blue;
    box-shadow: 0 4px 12px (0, 0, 0, 0.2);
}

.link {
    font-size: 13px;

    text-align: center;
}

.link span a {
    text-decoration: none;
    font-weight: bold;

}