body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profile start */
.profile {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.profile img {
    margin-top: 10px;
    height: 250px;
    width: 250px;
    border-radius: 125px;
}

.profile h3 span {
    font-size: 24px;
}

.profile hr {
    width: 530px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info h4 {
    font-size: 18px;
    height: 40px;
    align-content: center;
}

.profile-info h4 span {
    color: rgba(0, 0, 255, 0.723);
    font-size: 24px;
}

.profile-info button {
    background-color: rgba(0, 0, 255, 0.716);
    border: none;
    height: 50px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

/* Edit mode */
.hidden {
    display: none;
    flex-direction: column;
}

.profile-info {
    padding: 10px;
}
.profile-info label{
    margin-bottom: 5px;
}
.profile-info input {
    display: flex;
    border: none;
    border-bottom: 1px solid lightslategray;
    color: rgba(0, 0, 0, 0.495);
    width: 520px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
}

.show-password {
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

#showPwd{
    margin: 0px;
    height: 15px;
}
