body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    
}
/* navbar */
.nav-bar{
    height: 8%;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    box-shadow: 1px 1px 10px rgb(174, 171, 171);

}
.nav-bar i{
    font-size: 22px;
    color: rgb(47, 46, 46);
}
.title{
    font-size: 25px;
    color:  rgb(0, 2, 70);
    font-weight: bold;
}
.title, .icon-title{
    text-decoration: none;
}
.nav-left i{
    padding-top: 5px;
}
.nav-left{
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-left a i{
    background-color: blue;
    padding: 5px 15px;
    color: rgb(235, 235, 235);
    border-radius: 5px;
}
.nav-center{
    display: flex;
    align-items: center;
    width: 40%;
    gap: 10px;
}
.btn{
    padding: 8px;
    width: 300%;
    background: none;
    border-radius: 5px;
    font-size: 16px;
    border: solid 2px rgba(12, 1, 109, 0.359);
}
.nav-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.info{
    display: flex;
    gap: 5px;
    align-items: center;
}
.info .name{
    font-size: 12px;
    font-weight: bolder;
}
.info img{
    border-radius: 50px;
    width: 40px;
    height: 40px;
}
/* 
sub-main */
.sub-main{
    display: flex;
    height: 92vh;
}
/* side-bar */

.side-bar{
    flex: 0.6;
    background-color: rgb(0, 2, 70);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.side-bar i{
    font-size: 20px;
}
.side{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
#logout{
    margin-top: 250px;
    background-color: rgba(89, 88, 133, 0.184);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
#logout a{
    color: rgb(172, 0, 0);
    font-weight: bold;
    
}
.side-bar a{
    text-decoration: none;
    color: rgb(220, 220, 220);
}
/* main-1 */
.main-1{
    flex: 3.5;
    margin: 20px;
    
}
.main-1-top{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 30px;
}
.element1,.element2,.element3,.element4{
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(125, 122, 122, 0.353);

}
.total,.completed,.pending,.today{
    font-size: larger;
    color: white;
    font-weight: bold;

}
.num{
    font-size: 45px;
    color: white;
    font-weight: bolder;
}
.element1{
    background-color: rgba(17, 0, 255, 0.677);
}
.element2{
    background-color: rgba(1, 163, 42, 0.7);
}
.element3{
    background-color: rgba(220, 185, 6, 0.729);
}
.element4{
    background-color:teal;
}

